.vscode
out
build
arm11/build
sysmodules/loader/build
sysmodules/rosalina/build
chainloader/build
exceptions/arm9/build
exceptions/arm11/build
*.bin
*.firm
*.o
*.d
*.elf
*.cxi
*.3dsx
.DS_Store
*.dmp
.project
.cproject
.settings

Luma3DS*.zip
hbmenu.zip
